/* Global styles */
/* Component-level styles are located in specific component files */
html,
body,
body > div:first-of-type,
#__next,
#__next > div:first-of-type {
  width: 100%;
  height: 100%;
}

html,
body {
  font-family: "Raleway", sans-serif;
  background: #f8f7f7;
  /* background: #2b5876; fallback for old browsers */
  /* background: -webkit-linear-gradient(
    to right,
    #2b5876,
    #4e4376
  ); 
  background: linear-gradient(
    to bottom right,
    #2b5876,
    #4e4376
  );  */
}

.inputContainer {
  height: 80%;
  padding-top: 10%;
}
